include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/ckanstrageapi *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/ckanstrageapi/migration *.ini *.py *.mako
recursive-include ckanext/ckanstrageapi/public *.*
